
h1{
	color: green; 
	text-align: center;
	}
		
p{
	color: MediumSeaGreen;
	text-align: justify;
	}		
.font_1{
		color: LawnGreen;
		text-align: justify;
		}
.font_2{
		color: Gold;
		text-align: justify;
		}
.font_3{
		color: DarkOrange;
		text-align: justify;
		}
		