h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid;
  
}

td {
    text-align: center;
}

th, td {
    padding: 0.5em;
}

th {
    background-color: crimson;
    color: rgb(169, 250, 223);
}